@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&display=swap');

.boxx {
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    width: 800px;
    height: 450px;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.75);
    border-radius: 12px;
    overflow-y: auto;
    border: 1px solid rgba(255, 255, 255, 0.125);
}

@media only screen and (max-width: 768px) {
  .boxx {
    height: 768px;
  }
  .link footer {
    font-size: calc(1em + 3px);
  }
}

footer {
  margin-top: 50px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: white;
    font-family: "Cabin", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

@keyframes yuh {
   0% {size: 0.5px;}
   50% {size: 1px;}
   100% {size: 0.5px;}
}

.s {
    color: white
}

.links {
    margin-top: -15px;
}

.link {
    color: #eb3483;
}

.name {
    animation-name: yuh;
    animation-duration: 3s;
    color: #8934eb;
}

a {
    color: aqua;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    animation: fadeEffect 1s;
    background-image: url("https://raw.githubusercontent.com/dfltbox/defaultbox.xyz/main/background-images/1.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(5px); 
    z-index: -1; 
}

 /* tabs */
 .tab {
    overflow: hidden;
  }

  .tab button {
    background-color: rgba(0, 0, 0, 0.1);
    border: #ccc;
    border-radius: 10px;
    color: white;
    padding: 14px 16px;
    transition: 0.3s;
    margin: 1px;
    margin-bottom: 30px;
  }
  
  .tab button:hover {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .tabcontent {
    margin-top: -20px;
    animation: fadeEffect 0.5s;
    overflow: auto;
  } 
  
  /* Go from zero to full opacity */
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }